{% comment %}
Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

1. Head over to https://realfavicongenerator.net/ to add your own favicons.
2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<!-- Favicon -->
<link rel="icon" type="image/svg+xml" href="{{ '/assets/images/favicon.svg' | relative_url }}">

<!-- Custom CSS and JavaScript -->

<!-- Anchor Links CSS -->
<link rel="stylesheet" href="{{ '/assets/css/anchor-links.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/codeblock.css' | relative_url }}">

<!-- Anchor Links JavaScript -->
<script src="{{ '/assets/js/anchor-links.js' | relative_url }}"></script>
<script src="{{ '/assets/js/codeblock-lines.js' | relative_url }}"></script>
<script src="{{ '/assets/js/codeblock-tools.js' | relative_url }}"></script>