{%- if page.title -%}
<header class="page-header-section">
  <h1 class="no-anchor">{{ page.title | escape }}</h1>

  {%- unless page.hide_author -%}
  {%- assign author = page.author | default: site.author.name -%}
  {%- if author -%}
  <p class="page-meta">
    Author: {% if author.size %}{% for author_name in author %}
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <a href="/author/" class="p-author h-card" itemprop="name">{{ author_name }}</a></span>
    {%- if forloop.last == false %}, {% endif -%}
    {% endfor %}{% else %}
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <a href="/author/" class="p-author h-card" itemprop="name">{{ author }}</a></span>
    {% endif %}
  </p>
  {%- endif -%}

  {%- unless page.hide_last_updated -%}
  {%- if page.last_modified_at or page.date -%}
  <p class="page-meta">
    Last updated:
    <time datetime="{{ page.last_modified_at | default: page.date | date_to_xmlschema }}">
      {{ page.last_modified_at | default: page.date | date: "%d-%b-%Y" }}
    </time>
    | <a
      href="https://github.com/{{ site.minima.social_links.github }}/{{ site.minima.social_links.github }}.github.io/blob/master/{{ page.path }}">View
      on GitHub</a>
  </p>
  {%- endif -%}
  {%- endunless -%}
  {%- endunless -%}
  {%- if page.page_title -%}
  <h1 class="no-anchor">{{ page.page_title | escape }}</h1>
  {%- endif -%}

  {%- if page.tags and page.tags.size > 0 -%}
  <p class="page-meta">
    categories:
    {%- for tag in page.tags %}
    <a href="/tags/{{ tag }}/">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
    {%- endfor -%}
  </p>
  {%- endif -%}
</header>
{%- endif -%}