// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

// index page
.site-header, .page-content, .site-footer {
  background-color: #fff;
  font-family: 'Arial', 'Courier New', Courier, monospace;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

a {
  color: #2b71ff;
}

li {
  padding-bottom: 1px;
}

code {
  background-color: #eee;
}

.language-rb, .highlighter-rouge {
  .highlight {
    background-color: #eee;
  }
}

.main pre {
  background: #eee;
}

// post show page
.post-header {
  border-bottom: 1px solid #999;
}

.post-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.main {
  margin-top: 120px;
  padding-bottom: 40px;

  .main-posts {
    margin-top: 20px;
  }

  .title {
    font-weight: 900;
  }
}

.column-date {
  float: left;
  width: 20%;
}
.column-title {
  float: left;
  width: 80%;
}

// post show page
table td {
  padding: 5px;
}